@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

/* Ajoutez le reste de vos styles globaux ici */

:root {
  --background-rgb: 249, 249, 249;
  --foreground-rgb: 0, 25, 108, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.01);
}

